# Telegram Bot Token (получить у @BotFather)
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE

# Telegram Chat ID разрешенных пользователей (через запятую, узнать у @userinfobot)
TELEGRAM_ALLOWED_USERS=123456789

# Telegram Chat ID администраторов бота (опционально)
TELEGRAM_ADMIN_USERS=123456789

# Настройки прокси при необходимости (HTTP/SOCKS5, опционально)
# TELEGRAM_PROXY=socks5://username:password@ip:port

# Кастомный API сервер Telegram (опционально)
# TELEGRAM_API_SERVER=https://tg-proxy-worker.username.workers.dev
